@charset "UTF-8";

.image 
{
	height:100vh;
	width:100vw;
	background-image: url("../images/darksky.jpg");
	background-size: cover;
}
.image_login
{
	height:500px;
	width:500px;
	 position: relative;
	 top: 100px;
	 left:200px;
	background-image: url("../images/nightsky.jpg");
	background-size: cover;
}
.image_join
{
	height:500px;
	width:500px;
	 position: relative;
	 top: 100px;
	 left:200px;
	background-image: url("../images/trash.jpg");
	background-size: cover;
}
.main_btn
{
  position: relative;
  top: 140px;
  left:70px;
  width: 180px;
  height: 50px;
  font-size:30px;
  color: white;
  line-height: 50px;
  text-align: center;
  background: black;
  border: solid 2px grey;
  border-radius: 12px;
}

.main_box
{
	 position: relative;
	 top: 100px;
	 left:200px;
	 background-color: white;
     height:500px;
     width:500px;
	 opacity: 0.7;	 
}

/*
word-spacing : 단어 사이의 간격 조절
letter-spacing : 텍스트 사이의 간격 조절
*/
.mainh1
{
	position: relative;
  	top: 100px;
  	left:200px;
  	font-size: 250%;
 	font-weight: bold;
  	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  	text-height:200%;
  	padding: 3px 5px;
  	margin: 5px 0;
  	letter-spacing: 1px;
  	word-spacing: 3px;
}

/*
[css 애니메이션]
-@keyframes : 애니메이션 중간중간의 특정 지점들을 거칠 수 있는 키프레임을 설정하여
  브라우저가 자동으로 애니메이션을 처리하는 것보다 더 세밀하게 중간 동작 제어 가능
-transition : css 스타일 변경을 부드럽게 표현하기 위해 지속 시간을 부여하여 속도 조절
-transform : 요소에 이동(translate), 회전(rotate), 확대축소(scale), 
  비틀기(skew) 등의 효과를 부여하기 위한 함수를 제공
*/
@keyframes txtE {
  60% {
    transform: translate(20px, 0) scale(1);
    color:white;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color:white;
  }

  90% {
    transform: translate(0) scale(1.2);
    color:gray;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color:white;
  }
}

/*
nth-of-type(n) : 부모 엘리먼트의 특정 자식 엘리먼트 중 n번째
nth-child(n) : 부모 엘리먼트의 모든 자식 엘리먼트 중 n번째
*/
.txt_animate span:nth-of-type(2) {
  animation-delay: .1s;
}
.txt_animate span:nth-of-type(3) {
  animation-delay: .15s;
}
.txt_animate span:nth-of-type(4) {
  animation-delay: .2s;
}
.txt_animate span:nth-of-type(5) {
  animation-delay: .25s;
}
.txt_animate span:nth-of-type(6) {
  animation-delay: .3s;
}
.txt_animate span:nth-of-type(7) {
  animation-delay: .35s;
}


.loginForm
{
	 position: relative;
	 top: -350px;
	 left:800px;
}
.login_btn
{
  position: relative;
  top: -250px;
  left:850px;
  width: 180px;
  height: 50px;
  font-size:30px;
  color: white;
  line-height: 50px;
  text-align: center;
  background: black;
  border: solid 2px grey;
  border-radius: 12px;
}
.input_login
{
	width: 300px;
	height: 50px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom : 3px solid black;
}
.login_h1
{
  position: relative;
  top: 100px;
  left:600px;
}

.login_btn
{
  position: relative;
  top: -300px;
  left:800px;
  width: 180px;
  height: 50px;
  font-size:20px;
  color: white;
  line-height: 50px;
  text-align: center;
  background: black;
  border: solid 2px grey;
  border-radius: 12px;
}

.loginForm
{
	 position: relative;
	 top: -350px;
	 left:800px;
}

.input_login
{	
	
	width: 300px;
	height: 50px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom : 3px solid black;
	
  
}
.login_h1
{
  position: relative;
  top: -60px;
  left:100px;
}

table
{
	position: relative;
 	top: 100px;
	left:1000px;
}

.joinForm
{
	 position: relative;
	 top: -350px;
	 left:800px;
}
.join_btn
{
  position: relative;
  top: 100px;
  left:100px;
  width: 180px;
  height: 50px;
  font-size:30px;
  color: white;
  line-height: 50px;
  text-align: center;
  background: black;
  border: solid 2px grey;
  border-radius: 12px;
}
.input_join
{
	width: 300px;
	height: 50px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom : 3px solid black;
}
.join_h1
{
  position: relative;
  top: -60px;
  left:100px;
}



.joinForm
{
	 position: relative;
	 top: -400px;
	 left:800px;
}
.join_btn
{
  position: relative;
  top: -350px;
  left:850px;
  width: 180px;
  height: 50px;
  font-size:30px;
  color: white;
  line-height: 50px;
  text-align: center;
  background: black;
  border: solid 2px grey;
  border-radius: 12px;
}
.input_join
{
	width: 300px;
	height: 50px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom : 3px solid black;
}
.join_h1
{
  position: relative;
  top: -60px;
  left:100px;
}

.my_div
{
	border : 1px solid blue;
	height : 600px;
	text-align : center;
}

.my2_div
{
	border : 1px solid black;
	height : 100px;
	text-align : center;
}

